#contact-container{
    margin: 0 0 0 0;
    display: block;
}

input.input1 {
    height: 50px;
    border-radius: 15px;
    padding: 0 30px;
    margin-top: 8px;
}

textarea.input1 {
    min-height: 150px;
    border-radius: 15px;
    padding: 12px 30px;
    margin-top: 5px;
}

.contact-form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background:transparent;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);   
    margin-top: 25px;
    border: 2px solid #ccc;
}

.send-us-btn{
    border-radius: 50px;
    padding: 10px 20px;
    background: #00bcd4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-top: 10px;
    cursor: pointer;

}

.form-bg{
    background: url("https://thumbs.dreamstime.com/b/simple-white-brick-wall-light-gray-shades-seamless-pattern-surface-texture-background-banner-wide-panorama-format-simple-137027626.jpg") no-repeat center ; 
    background-size: 100% 100%;
    padding: 70px 0;
}




